In [42]:
# Import Pandas
import pandas as pd

# Read the csv
df = pd.read_csv('Mixed_Beverage_Gross_Receipts.csv')

In [43]:
def df_info_col(df):
    
    # Get info of dataframe
    print(df.info())
    
    #Explore columns
    print(df.columns)
    
df_info_col(df)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2788501 entries, 0 to 2788500
Data columns (total 24 columns):
 #   Column                      Dtype
---  ------                      -----
 0   Taxpayer Number             int64
 1   Taxpayer Name               object
 2   Taxpayer Address            object
 3   Taxpayer City               object
 4   Taxpayer State              object
 5   Taxpayer Zip                float64
 6   Taxpayer County             int64
 7   Location Number             int64
 8   Location Name               object
 9   Location Address            object
 10  Location City               object
 11  Location State              object
 12  Location Zip                int64
 13  Location County             int64
 14  Inside/Outside City Limits  object
 15  TABC Permit Number          object
 16  Responsibility Begin Date   object
 17  Responsibility End Date     object
 18  Obligation End Date         object
 19  Liquor Receipts             int64
 20  Wine Receipts               int64
 21  Beer Receipts               int64
 22  Cover Charge Receipts       int64
 23  Total Receipts              int64
dtypes: float64(1), int64(10), object(13)
memory usage: 510.6+ MB
None
Index(['Taxpayer Number', 'Taxpayer Name', 'Taxpayer Address', 'Taxpayer City',
       'Taxpayer State', 'Taxpayer Zip', 'Taxpayer County', 'Location Number',
       'Location Name', 'Location Address', 'Location City', 'Location State',
       'Location Zip', 'Location County', 'Inside/Outside City Limits',
       'TABC Permit Number', 'Responsibility Begin Date',
       'Responsibility End Date', 'Obligation End Date', 'Liquor Receipts',
       'Wine Receipts', 'Beer Receipts', 'Cover Charge Receipts',
       'Total Receipts'],
      dtype='object')

In [84]:
def timestamp(df,col):
    
    # convert to datetime
    df[col] = pd.to_datetime(df[col])

    # Updated info
    print(df.info())
    
timestamp(df,"Responsibility Begin Date")
timestamp(df,"Responsibility End Date")
timestamp(df,"Obligation End Date")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2788501 entries, 0 to 2788500
Data columns (total 24 columns):
 #   Column                      Dtype
---  ------                      -----
 0   Taxpayer Number             int64
 1   Taxpayer Name               object
 2   Taxpayer Address            object
 3   Taxpayer City               object
 4   Taxpayer State              object
 5   Taxpayer Zip                float64
 6   Taxpayer County             int64
 7   Location Number             int64
 8   Location Name               object
 9   Location Address            object
 10  Location City               object
 11  Location State              object
 12  Location Zip                int64
 13  Location County             int64
 14  Inside/Outside City Limits  object
 15  TABC Permit Number          object
 16  Responsibility Begin Date   datetime64[ns]
 17  Responsibility End Date     object
 18  Obligation End Date         object
 19  Liquor Receipts             int64
 20  Wine Receipts               int64
 21  Beer Receipts               int64
 22  Cover Charge Receipts       int64
 23  Total Receipts              int64
dtypes: datetime64[ns](1), float64(1), int64(10), object(12)
memory usage: 510.6+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2788501 entries, 0 to 2788500
Data columns (total 24 columns):
 #   Column                      Dtype
---  ------                      -----
 0   Taxpayer Number             int64
 1   Taxpayer Name               object
 2   Taxpayer Address            object
 3   Taxpayer City               object
 4   Taxpayer State              object
 5   Taxpayer Zip                float64
 6   Taxpayer County             int64
 7   Location Number             int64
 8   Location Name               object
 9   Location Address            object
 10  Location City               object
 11  Location State              object
 12  Location Zip                int64
 13  Location County             int64
 14  Inside/Outside City Limits  object
 15  TABC Permit Number          object
 16  Responsibility Begin Date   datetime64[ns]
 17  Responsibility End Date     datetime64[ns]
 18  Obligation End Date         object
 19  Liquor Receipts             int64
 20  Wine Receipts               int64
 21  Beer Receipts               int64
 22  Cover Charge Receipts       int64
 23  Total Receipts              int64
dtypes: datetime64[ns](2), float64(1), int64(10), object(11)
memory usage: 510.6+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2788501 entries, 0 to 2788500
Data columns (total 24 columns):
 #   Column                      Dtype
---  ------                      -----
 0   Taxpayer Number             int64
 1   Taxpayer Name               object
 2   Taxpayer Address            object
 3   Taxpayer City               object
 4   Taxpayer State              object
 5   Taxpayer Zip                float64
 6   Taxpayer County             int64
 7   Location Number             int64
 8   Location Name               object
 9   Location Address            object
 10  Location City               object
 11  Location State              object
 12  Location Zip                int64
 13  Location County             int64
 14  Inside/Outside City Limits  object
 15  TABC Permit Number          object
 16  Responsibility Begin Date   datetime64[ns]
 17  Responsibility End Date     datetime64[ns]
 18  Obligation End Date         datetime64[ns]
 19  Liquor Receipts             int64
 20  Wine Receipts               int64
 21  Beer Receipts               int64
 22  Cover Charge Receipts       int64
 23  Total Receipts              int64
dtypes: datetime64[ns](3), float64(1), int64(10), object(10)
memory usage: 510.6+ MB
None

In [85]:
timestamp(df,"Responsibility End Date")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2788501 entries, 0 to 2788500
Data columns (total 24 columns):
 #   Column                      Dtype
---  ------                      -----
 0   Taxpayer Number             int64
 1   Taxpayer Name               object
 2   Taxpayer Address            object
 3   Taxpayer City               object
 4   Taxpayer State              object
 5   Taxpayer Zip                float64
 6   Taxpayer County             int64
 7   Location Number             int64
 8   Location Name               object
 9   Location Address            object
 10  Location City               object
 11  Location State              object
 12  Location Zip                int64
 13  Location County             int64
 14  Inside/Outside City Limits  object
 15  TABC Permit Number          object
 16  Responsibility Begin Date   datetime64[ns]
 17  Responsibility End Date     datetime64[ns]
 18  Obligation End Date         datetime64[ns]
 19  Liquor Receipts             int64
 20  Wine Receipts               int64
 21  Beer Receipts               int64
 22  Cover Charge Receipts       int64
 23  Total Receipts              int64
dtypes: datetime64[ns](3), float64(1), int64(10), object(10)
memory usage: 510.6+ MB
None

In [89]:
df = df.sort_values(by=['Obligation End Date'])
df.tail(4)

,Taxpayer Number,Taxpayer Name,Taxpayer Address,Taxpayer City,Taxpayer State,Taxpayer Zip,Taxpayer County,Location Number,Location Name,Location Address,...,Inside/Outside City Limits,TABC Permit Number,Responsibility Begin Date,Responsibility End Date,Obligation End Date,Liquor Receipts,Wine Receipts,Beer Receipts,Cover Charge Receipts,Total Receipts
2772032,32076544355,RAINBOW LONGVIEW INC.,6915 FM 31 S,CARTHAGE,TX,75633.0,183,1,RAINBOW LONGVIEW INC.,203 S HIGH ST,...,Y,N 1112119,2021-03-12,NaT,2022-08-31,0,0,0,0,0
2766957,32068645731,NICKS CRAWFISH BAR CORPORATION,4025 HIGHWAY 6 N STE 107,HOUSTON,TX,77084.0,101,1,NICK'S CRAWFISH BAR,4025 HIGHWAY 6 N STE 107,...,Y,MB1042253,2019-01-15,2022-08-02,2022-08-31,0,0,0,0,0
778174,32080328233,"FRENCH COWBOY, LLC",611 SHEPHERD DR APT 145,HOUSTON,TX,77007.0,101,1,CAFE PHILIPPE,1830 W ALABAMA ST,...,Y,MB200042829,2021-11-30,NaT,2022-08-31,0,0,0,0,0
2778282,17522587025,"RED MESA GRILL, INC.",PO BOX 6571,MCKINNEY,TX,75071.0,43,1,RED MESA GRILL,2401 S GREGG ST,...,Y,MB238149,1993-11-30,NaT,2022-08-31,0,0,0,0,0

In [44]:
def shape_inspect(dframe):
    
    # Print dataframe shape
    print("The shape of the DataFrame is:", df.shape)
    
    # Skip a line
    print("\n")

    # Inspect data
    return df.head(4)

shape_inspect(df)

The shape of the DataFrame is: (2788501, 24)

,Taxpayer Number,Taxpayer Name,Taxpayer Address,Taxpayer City,Taxpayer State,Taxpayer Zip,Taxpayer County,Location Number,Location Name,Location Address,...,Inside/Outside City Limits,TABC Permit Number,Responsibility Begin Date,Responsibility End Date,Obligation End Date,Liquor Receipts,Wine Receipts,Beer Receipts,Cover Charge Receipts,Total Receipts
0,32047970895,HONDURAS MAYA CAFE & BAR LLC,8011 HAZEN ST,HOUSTON,TX,77036.0,101,1,HONDURAS MAYA CAFE & BAR LLC,5945 BELLAIRE BLVD STE B,...,Y,MB817033,08/16/2012,09/12/2019,07/31/2019,0,0,0,0,0
1,32049923835,"MERMAID KARAOKE PRIVATE CLUB, INC.",2639 WALNUT HILL LN STE 225,DALLAS,TX,75229.0,57,1,MERMAID KARAOKE PRIVATE CLUB,1310 W CAMPBELL RD STE 103,...,Y,N 837378,04/12/2013,07/01/2015,08/31/2014,480,185,1374,0,2039
2,32034036304,FENG KAI CORPORATION,8427 BOULEVARD 26,N RICHLND HLS,TX,76180.0,220,1,JAPANESE GRILL,8427 BOULEVARD 26,...,Y,MB576670,05/01/2008,03/17/2018,06/30/2016,1143,167,669,0,1979
3,14537211071,"THE HUTTO SMITHS, LLC",429 LITTLE LAKE RD,HUTTO,TX,78634.0,246,1,THE DOWNTOWN HALL OF FAME,205 EAST ST,...,Y,MB791778,12/06/2011,NaN,03/31/2018,12881,357,10447,0,23685

In [45]:
def null_sum():

    # Check if there are any null values
    total = df.isnull().sum().sort_values(ascending=False)
    percent = (df.isnull().sum()/df.isnull().count()).sort_values(ascending=False)
    missing = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
    x = missing.head()
    
    return x
    
null_sum()

                           Total   Percent
Responsibility End Date  1657846  0.594529
Taxpayer State               973  0.000349
Taxpayer Zip                 973  0.000349
Taxpayer Number                0  0.000000
Location County                0  0.000000

In [47]:
# Focus on Austin
df_aus = df[df['Taxpayer County'] == 227]

In [48]:
def shape_inspect(df):
    
    # Print dataframe shape
    print("The shape of the DataFrame is:", df.shape)
    
    # Skip a line
    print("\n")

    # Inspect data
    x = df.head(4)
    
    return x

shape_inspect(df_aus)

The shape of the DataFrame is: (170554, 24)

,Taxpayer Number,Taxpayer Name,Taxpayer Address,Taxpayer City,Taxpayer State,Taxpayer Zip,Taxpayer County,Location Number,Location Name,Location Address,...,Inside/Outside City Limits,TABC Permit Number,Responsibility Begin Date,Responsibility End Date,Obligation End Date,Liquor Receipts,Wine Receipts,Beer Receipts,Cover Charge Receipts,Total Receipts
8,32045673145,"FINE WINE MANAGEMENT, LLC",4705 SPICEWOOD SPRINGS RD STE 200,AUSTIN,TX,78759.0,227,4,BOB'S STEAK AND CHOP HOUSE,1700 RESEARCH FOREST DR,...,Y,MB857071,11/13/2013,04/16/2018,01/31/2014,10853,25320,712,0,36885
17,32045673145,"FINE WINE MANAGEMENT, LLC",4705 SPICEWOOD SPRINGS RD STE 200,AUSTIN,TX,78759.0,227,4,BOB'S STEAK AND CHOP HOUSE,1700 RESEARCH FOREST DR,...,Y,MB857071,11/13/2013,04/16/2018,05/31/2014,33159,92252,3560,0,128971
25,32041933782,"SAI SEVEN HILLS, LLC",300 S LAMAR BLVD STE A,AUSTIN,TX,78704.0,227,1,FLOUR AND VINE RESTAURANT AND WINE BAR,300 S LAMAR BLVD STE A,...,Y,MB769003,02/28/2011,08/24/2018,07/31/2011,12590,1175,3079,0,16844
35,17429812450,"PETES MANAGEMENT ADDISON, INC.",413 ROLLING GREEN DR,LAKEWAY,TX,78734.0,227,1,PETES DUELING PIANOS,4980 BELT LINE RD STE 200,...,Y,MB488522,03/02/2001,NaN,11/30/2018,88311,1768,27978,0,118057

In [49]:
# Focus on Houston
df_hou = df[df['Taxpayer County'] == 101]

In [50]:
shape_inspect(df_hou)

The shape of the DataFrame is: (436463, 24)

,Taxpayer Number,Taxpayer Name,Taxpayer Address,Taxpayer City,Taxpayer State,Taxpayer Zip,Taxpayer County,Location Number,Location Name,Location Address,...,Inside/Outside City Limits,TABC Permit Number,Responsibility Begin Date,Responsibility End Date,Obligation End Date,Liquor Receipts,Wine Receipts,Beer Receipts,Cover Charge Receipts,Total Receipts
0,32047970895,HONDURAS MAYA CAFE & BAR LLC,8011 HAZEN ST,HOUSTON,TX,77036.0,101,1,HONDURAS MAYA CAFE & BAR LLC,5945 BELLAIRE BLVD STE B,...,Y,MB817033,08/16/2012,09/12/2019,07/31/2019,0,0,0,0,0
6,32039541860,GREEN GINGER INC.,1574 W GRAY ST,HOUSTON,TX,77019.0,101,1,CAFE GINGER,1952 W GRAY ST,...,Y,MB734102,10/13/2009,04/18/2018,08/31/2010,2834,7986,957,0,11777
13,32039762029,"LT BUSINESS, INC.",12350 SHADOW ISLAND DR,HOUSTON,TX,77082.0,101,1,LE VIET RESTAURANT,11328A WESTHEIMER RD,...,Y,MB517825,03/01/2010,03/14/2018,01/31/2016,125,0,250,0,375
18,32051085341,"HORSERADISH MAYONNAISE, L.L.C.",6412 N MAIN ST STE C,HOUSTON,TX,77009.0,101,1,LEI LOW,6412 N MAIN ST STE C,...,Y,MB850404,08/30/2013,NaN,05/31/2020,21723,0,0,0,21723

In [51]:
# Focus on DFW
df_dfw = df[(df['Taxpayer County'] == 57) | (df['Taxpayer County'] == 220)]

In [52]:
shape_inspect(df_dfw)

The shape of the DataFrame is: (609413, 24)

,Taxpayer Number,Taxpayer Name,Taxpayer Address,Taxpayer City,Taxpayer State,Taxpayer Zip,Taxpayer County,Location Number,Location Name,Location Address,...,Inside/Outside City Limits,TABC Permit Number,Responsibility Begin Date,Responsibility End Date,Obligation End Date,Liquor Receipts,Wine Receipts,Beer Receipts,Cover Charge Receipts,Total Receipts
1,32049923835,"MERMAID KARAOKE PRIVATE CLUB, INC.",2639 WALNUT HILL LN STE 225,DALLAS,TX,75229.0,57,1,MERMAID KARAOKE PRIVATE CLUB,1310 W CAMPBELL RD STE 103,...,Y,N 837378,04/12/2013,07/01/2015,08/31/2014,480,185,1374,0,2039
2,32034036304,FENG KAI CORPORATION,8427 BOULEVARD 26,N RICHLND HLS,TX,76180.0,220,1,JAPANESE GRILL,8427 BOULEVARD 26,...,Y,MB576670,05/01/2008,03/17/2018,06/30/2016,1143,167,669,0,1979
5,17561523097,"GARLAND ELKS CLUB, INC.",PO BOX 494978,GARLAND,TX,75049.0,57,1,B P O E GARLAND #1984,3825 DUCK CREEK DR,...,Y,NE482712,11/02/2000,NaN,01/31/2015,1674,19,2124,0,3817
11,30116278331,THE HARBOR POINT CLUB AND GRILL,2121 BUCKINGHAM RD,RICHARDSON,TX,75081.0,57,2,THE HARBOR POINT CLUB & GRILL,2121 BUCKINGHAM RD,...,Y,N 206013,10/31/1995,04/16/2018,08/31/2008,16322,510,17958,0,34790

In [53]:
# Focus on San Antonio
df_sa = df[df['Taxpayer County'] == 15]

In [54]:
shape_inspect(df_sa)

The shape of the DataFrame is: (184525, 24)

,Taxpayer Number,Taxpayer Name,Taxpayer Address,Taxpayer City,Taxpayer State,Taxpayer Zip,Taxpayer County,Location Number,Location Name,Location Address,...,Inside/Outside City Limits,TABC Permit Number,Responsibility Begin Date,Responsibility End Date,Obligation End Date,Liquor Receipts,Wine Receipts,Beer Receipts,Cover Charge Receipts,Total Receipts
16,17428720902,MANDO'S RIVER SEAFOOD RESTAURANT INC,2918 W COMMERCE ST,SAN ANTONIO,TX,78207.0,15,2,MANDO'S RIVER SEAFOOD RESTAURANT INC,2918 W COMMERCE ST,...,Y,MB650751,02/06/2007,NaN,09/30/2014,891,0,5392,0,6283
96,32049153466,JAMAICA JAMAICA CUISINE LLC,2026 AUSTIN HWY,SAN ANTONIO,TX,78218.0,15,3,JAMAICA JAMAICA CUISINE,6909 N LOOP 1604 E STE VC09A,...,Y,MB1083222,03/09/2020,NaN,04/30/2020,0,0,0,0,0
250,17426545970,"CB RESTAURANTS, INC.",9510 TIOGA DR STE 102,SAN ANTONIO,TX,78230.0,15,1,SUGARS,2731 NW LOOP 410,...,Y,MB437968,02/01/2001,NaN,10/31/2015,164240,3169,100933,0,268342
253,32008170998,JOHN WAYNE DOWNUM,PO BOX 15858,SAN ANTONIO,TX,78212.0,15,2,THE ANNEX,330 SAN PEDRO AVE,...,Y,MB409424,03/21/1997,03/20/2019,10/31/2013,35051,439,17515,0,53005

In [55]:
def column_uniquevalues(df,col):
    
    # Get unique amount of names for recipes
    x = df[col].nunique()
    
    return x

In [56]:
# Number of unique location address in Austin
column_uniquevalues(df_aus,'Location Address')

2322

In [63]:
# Number of unique location names in Aus
column_uniquevalues(df_aus,'Location Name')

2296

In [57]:
# Number of unique location address in SA
column_uniquevalues(df_sa,'Location Address')

2123

In [62]:
# Number of unique location names in SA
column_uniquevalues(df_sa,'Location Name')

2167

In [58]:
# Number of unique location address in DFW
column_uniquevalues(df_dfw,'Location Address')

7064

In [64]:
# Number of unique location names in DFW
column_uniquevalues(df_dfw,'Location Name')

7291

In [59]:
# Number of unique location address in Houston
column_uniquevalues(df_hou,'Location Address')

5503

In [61]:
# Number of unique location names in Houston
column_uniquevalues(df_hou,'Location Name')

6026

In [67]:
# Total receipts in Aus
tot_receipt_aus = df_aus['Total Receipts'].sum()

print(tot_receipt_aus)

8283859669

In [68]:
# Total receipts in SA
tot_receipt_aus = df_sa['Total Receipts'].sum()

print(tot_receipt_aus)

6121368030

In [69]:
# Total receipts in DFW
tot_receipt_aus = df_dfw['Total Receipts'].sum()

print(tot_receipt_aus)

20517578078

In [70]:
# Total receipts in Hou
tot_receipt_aus = df_hou['Total Receipts'].sum()

print(tot_receipt_aus)

17659669479

In [74]:
dups = df.duplicated(subset=['Taxpayer Number']) #subset=['Taxpayer Number'].sum()

print(dups)

0          False
1          False
2          False
3          False
4          False
           ...
2788496     True
2788497     True
2788498     True
2788499     True
2788500     True
Length: 2788501, dtype: bool

In [75]:
df.tail(10)

,Taxpayer Number,Taxpayer Name,Taxpayer Address,Taxpayer City,Taxpayer State,Taxpayer Zip,Taxpayer County,Location Number,Location Name,Location Address,...,Inside/Outside City Limits,TABC Permit Number,Responsibility Begin Date,Responsibility End Date,Obligation End Date,Liquor Receipts,Wine Receipts,Beer Receipts,Cover Charge Receipts,Total Receipts
2788491,32048588530,"BEANSTALK, LLC",2950 S JOHN REDDITT DR,LUFKIN,TX,75904.0,3,1,TOKYO JAPANESE RESTAURANT,2950 S JOHN REDDITT DR,...,Y,RM832251,02/20/2013,08/08/2022,06/30/2021,0,425,996,0,1421
2788492,32075388259,"TIGER YS, LLC",PO BOX 2474,HARKER HTS,TX,76548.0,14,1,TIPSY TOMATO,220 MILLERS XING,...,Y,MB1106219,01/13/2021,07/25/2022,04/30/2021,0,0,0,0,0
2788493,32053589183,"SIMSKIE, LLC",PO BOX 2346,CRYSTAL BEACH,TX,77650.0,84,1,HARD HEADS,1035 HIGHWAY 87,...,N,MB895709,01/21/2015,07/22/2022,02/28/2018,4849,151,8398,0,13398
2788494,32045900001,COUTURE HOTEL CORPORATION,2803 SAINT ANDREWS CIR,ENNIS,TX,75119.0,70,4,WYNDHAM GARDEN DALLAS NORTH,2645 LYNDON B JOHNSON FWY,...,Y,MB814378,12/01/2014,07/24/2022,10/31/2016,32573,13997,0,52040,98610
2788495,32004531698,STEPHEN N ZIMMERMAN,3410 MONTROSE BLVD,HOUSTON,TX,77006.0,101,2,LA COLOMBE D'OR,3410 MONTROSE BLVD,...,Y,MB126836,12/01/1993,NaN,11/30/2007,5799,31809,802,0,38410
2788496,32069471368,GORZUGIS SABINAL LLC,PO BOX 420806,DEL RIO,TX,78842.0,233,1,GORZUGIS,317 N CENTER ST,...,Y,MB1050103,04/08/2019,07/26/2022,11/30/2021,0,0,0,0,0
2788497,32048588530,"BEANSTALK, LLC",2950 S JOHN REDDITT DR,LUFKIN,TX,75904.0,3,1,TOKYO JAPANESE RESTAURANT,2950 S JOHN REDDITT DR,...,Y,RM832251,02/20/2013,08/08/2022,06/30/2018,0,955,589,0,1544
2788498,32054457521,"NEW DONG JIANG, INC.",8303 SOUTHWEST FWY STE 760,HOUSTON,TX,77074.0,101,2,HUNAN'S RESTAURANT,3835 BELLAIRE BLVD,...,Y,MB929376,12/11/2015,NaN,07/31/2022,221,252,101,0,574
2788499,32066921282,"APEX BEVERAGE, LLC",952 ECHO LN STE 380,HOUSTON,TX,77024.0,101,1,TEXADELPHIA,1228 SEAWALL BLVD,...,Y,MB1023962,07/24/2018,07/24/2022,04/30/2021,8997,934,7974,0,17905
2788500,32053574318,DBLT ENTERPRISES LLC,3760 CARTWRIGHT RD,MISSOURI CITY,TX,77459.0,79,3,MOCITY SPORTS GRILL,3760 CARTWRIGHT RD,...,Y,MB878899,11/01/2016,07/23/2022,05/31/2021,24442,566,4396,0,29404

In [86]:
x = df[df['Taxpayer Number'] == 32053574318]
x = x.sort_values(by=['Obligation End Date'])
x

,Taxpayer Number,Taxpayer Name,Taxpayer Address,Taxpayer City,Taxpayer State,Taxpayer Zip,Taxpayer County,Location Number,Location Name,Location Address,...,Inside/Outside City Limits,TABC Permit Number,Responsibility Begin Date,Responsibility End Date,Obligation End Date,Liquor Receipts,Wine Receipts,Beer Receipts,Cover Charge Receipts,Total Receipts
1941121,32053574318,DBLT ENTERPRISES LLC,3760 CARTWRIGHT RD,MISSOURI CITY,TX,77459.0,79,2,ZONE 9 LOUNGE & GRILL,3760 CARTWRIGHT RD,...,Y,MB878899,2014-07-23,2016-10-31,2014-07-31,7433,149,2533,0,10115
1627618,32053574318,DBLT ENTERPRISES LLC,3760 CARTWRIGHT RD,MISSOURI CITY,TX,77459.0,79,2,ZONE 9 LOUNGE & GRILL,3760 CARTWRIGHT RD,...,Y,MB878899,2014-07-23,2016-10-31,2014-08-31,13865,370,4111,0,18346
1207516,32053574318,DBLT ENTERPRISES LLC,3760 CARTWRIGHT RD,MISSOURI CITY,TX,77459.0,79,2,ZONE 9 LOUNGE & GRILL,3760 CARTWRIGHT RD,...,Y,MB878899,2014-07-23,2016-10-31,2014-09-30,11878,338,5081,0,17297
1054405,32053574318,DBLT ENTERPRISES LLC,3760 CARTWRIGHT RD,MISSOURI CITY,TX,77459.0,79,2,ZONE 9 LOUNGE & GRILL,3760 CARTWRIGHT RD,...,Y,MB878899,2014-07-23,2016-10-31,2014-10-31,12684,458,5713,0,18855
1242764,32053574318,DBLT ENTERPRISES LLC,3760 CARTWRIGHT RD,MISSOURI CITY,TX,77459.0,79,2,ZONE 9 LOUNGE & GRILL,3760 CARTWRIGHT RD,...,Y,MB878899,2014-07-23,2016-10-31,2014-11-30,10230,388,3730,0,14348
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2786599,32053574318,DBLT ENTERPRISES LLC,3760 CARTWRIGHT RD,MISSOURI CITY,TX,77459.0,79,3,MOCITY SPORTS GRILL,3760 CARTWRIGHT RD,...,Y,MB878899,2016-11-01,2022-07-23,2022-03-31,19754,520,3409,0,23683
2788459,32053574318,DBLT ENTERPRISES LLC,3760 CARTWRIGHT RD,MISSOURI CITY,TX,77459.0,79,3,MOCITY SPORTS GRILL,3760 CARTWRIGHT RD,...,Y,MB878899,2016-11-01,2022-07-23,2022-04-30,19429,482,2721,0,22632
2776429,32053574318,DBLT ENTERPRISES LLC,3760 CARTWRIGHT RD,MISSOURI CITY,TX,77459.0,79,3,MOCITY SPORTS GRILL,3760 CARTWRIGHT RD,...,Y,MB878899,2016-11-01,2022-07-23,2022-05-31,19705,289,2595,0,22589
2775780,32053574318,DBLT ENTERPRISES LLC,3760 CARTWRIGHT RD,MISSOURI CITY,TX,77459.0,79,3,MOCITY SPORTS GRILL,3760 CARTWRIGHT RD,...,Y,MB878899,2016-11-01,2022-07-23,2022-06-30,22936,389,3461,0,26786
2777638,32053574318,DBLT ENTERPRISES LLC,3760 CARTWRIGHT RD,MISSOURI CITY,TX,77459.0,79,3,MOCITY SPORTS GRILL,3760 CARTWRIGHT RD,...,Y,MB878899,2016-11-01,2022-07-23,2022-07-31,25073,556,3657,0,29286